<template name="resetPassword">
  <div class="reset-password col-md-4 col-md-offset-4">
    <h2 class="text-center">Change Password</h2>
    <form id="new-password" action="action">
      <div class="form-group">
        <label for="account-password">New Password</label>
        <input type="password" class="form-control" autofocus="" id="new-password-password" placeholder="Keep it secret, but remember it!"/>
      </div>
      <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
  </div>
</template>